* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Fonts used (Ubuntu & Monospace Static) were gotten from Google Fonts  */

.space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.space-mono-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.space-mono-regular-italic {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* Imported Fonts above */

html {
    min-height: 100vh;
    overscroll-behavior: none;
}

body {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 100vw;
    min-height: 100vh;
    margin: 0 auto;
    overscroll-behavior: none;
}

img {
    max-width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    color: black;
}

.logo-text {
    font-size: 1.2rem;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.nav-bar ul {
    list-style-type: none;
    display: flex;
    gap: 5px;
}

.nav-bar ul li {
    padding: 5px;
}

.nav-bar ul li a {
    font-size: 1.15rem;
    color: #3c3c3c;
    text-decoration: none;
}

main {
    max-width: 1400px;
    margin: 0 auto; 
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-me {
    margin-top: 30px;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.about-me-text {
    /* ? */
}

.about-me-text h1{
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.about-me-text p {
    font-size: 1.05rem;
}

.bolden {
    font-size: 1.1rem;
    font-weight: bolder;
}

.about-languages {
    margin-top: 7px;
}

.about-skills {
    margin-top: 7px;
}


.about-me-link {
    list-style-type: none;
    display: flex;
    gap: 10px;
}

.about-me-link img {
    width: 20px;
    height: 20px;
    color: white;
}

.about-me-link li {
    width: 130px;
    height: 40px;
    background-color: purple;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.about-me-link li:first-child {
    background-color: blue;
}

.about-me-link li:nth-child(2) {
    background-color: rgb(231, 17, 17);
}


.about-me-link li:last-child {
    background-color: rgb(82, 17, 129);
}


.about-me-link li:nth-child(3) {
    width: 170px
}

.about-me-link li a{
    font-size: 0.85rem;
    text-decoration: none;
    color: white;
}

.projects {
    margin-top: 10px;
    margin-bottom: 25px;
}

.project-heading {
    margin-bottom: 10px;
}

.project-containers {
    display: flex;
    gap: 15px;
}

.project-containers div {
    display: flex;
    flex-direction: column;
    /* justify-content:; */
    align-items: center;
    gap: 2px;
    border: black 3px solid;
    border-radius: 8px;
    width: 400px;
    height: 175px;
    transition: 0.3s ease;
}

.project-containers div:hover {
    scale: calc(1.05);
}

.project-containers div img {
    width: 100%;
    height: 145px;
    border-radius: 3px;
    object-fit: cover;
}

.project-containers div p {
    font-size: 0.95rem;
}

.cerifications {
    
}

.cert-heading {
    margin-bottom: 10px;
}

.cert-containers {
    display: flex;
    gap: 15px;
}

 
.cert-containers div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    border: black 3px solid;
    border-radius: 5px;
    width: 400px;
    height: 175px;
    transition: 0.3s ease;
}

.cert-containers div:hover {
    scale: calc(1.05);
}

.cert-containers div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
}

footer {
    min-height: 10vh;
    margin-top: 3vh;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
    background-color: #303841;
    color: white;
}

.copy {
    font-family: 'Courier New', Courier, monospace;
}